<%= render 'partials/navbar' %>

<div class="card m-auto mt-2" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJwy5RvIu7q4ggwqwpIMWirfinieXxkh22X6zfi9t-jjtoCmlLm9wDPLpFqG5ytIRS_rQ&usqp=CAU" class="card-img-top" alt="profile">
  <div class="card-body">
    <h5 class="card-title text-center"><%= current_user.email %></h5>
  </div>
  <ul class="list-group list-group-flush text-center">
    <li class="list-group-item"><%= current_user.user_role %></li>
    <% if user_signed_in? %> 
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link btn bg-danger p-2 m-auto mt-2 mb-2' %> 
        <% else %>
        <%= button_to "Sign in", new_user_session_path, class: 'nav-link btn bg-danger p-2 m-auto mt-2 mb-2' %> 
    <% end %>
  </ul>
</div>