<h2 class='text-center mb-5'>Log in</h2>

<div class='container d-flex align-items-center flex-column'>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <%= f.email_field :email, class: 'form-control', id: 'form2Example1', autofocus: true, autocomplete: true %>
      <%= f.label :email_address, class: 'form-label', for: 'form2Example1' %>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', id: 'form2Example2' %>
      <%= f.label :password, class: 'form-label', for: 'form2Example2' %>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <%= f.check_box :remember_me, class: 'form-check-input', id: 'form2Example31'  %>
          <%= f.label :remember_me, class: 'form-check-label', for: 'form2Example31' %>
        </div>
      </div>

      <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>

      </div>
    </div>

    <!-- Submit button -->
    <div class="actions">
      <%= f.submit 'Log in', class: 'btn btn-primary btn-block mb-4' %>
    </div>

    <!-- Register buttons -->
    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
