<%= render 'partials/navbar' %>

<h1 class='text-center mt-3 mb-5'>Food's List</h1>

<table class='m-auto'>
	<thead>
		<tr>
			<%= render_items_headers %>
		</tr>
	</thead>

	<tbody>
		<% Food.all.each do |food| %>
			<tr>
				<%= render_items_data(food) %>
				
				<% if can? :manage, Food %>
				<td><%= link_to :delete, food_url(food), data: { turbo_method: :delete } %></td>
				<% else %>
				<td>
					<%= link_to :add_to_cart, "add_cart/#{food.id}" %>
				</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>